@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box; 
}

@layer base {
  .commonLayout {
    @apply w-full max-w-screen-xl px-4 sm:px-8 mx-auto;
  }
  .btn {
    @apply w-40 bg-pink_1 text-center py-2 rounded-md text-white font-medium;
  }
  .header {
    @apply text-xl xs:text-2xl sm:text-3xl font-semibold text-gray-900 mb-2.5 sm:mb-4;
  }
  .subheader {
    @apply max-xs:text-sm text-gray-600 mb-4 xs:mb-6;
  }
}
